extends ../layout

block content
  .card
    .card-body
      if clients.length === 0
        p.text-muted No clients currently connected.
      else
        .list-group
          each client in clients
            a.list-group-item.list-group-item-action(href=`/logs/${client.ip}`)= client.name
