extends ../layout

block content
  article
    if clients.length === 0
      p No clients currently connected.
    else
      ul
        each client in clients
          li
            a(href=`/logs/${client.ip}`)= client.name
