doctype html
html(data-theme="light")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
  body
    main.container
      nav
        ul
          li
            a(href='/services') Services
          li
            a(href='/logs') Logs
          li
            a(href='/devices') Devices
      h1= title
      block content
